

/*
key colors
brand brown: #8A6353
darkgrey: #242424
*/

body {
  -webkit-text-size-adjust: auto;
  background-color: #242424;
  margin: 0px;
  font-family: 'Lato', sans-serif;
  /*text-align: center;*/
}

.hero {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  min-height: 568px;
  background: #242424;
  background-image: url('./images/craig_blue.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

}

.hero h1 {
  width: 100vw;
  color: white;
  position: relative;
  font-size: 40px;
  text-align: center;

}

.hero h1 span {
  color: #8A6353;
}

.boxtop {

  width: 125vw;
  position: relative;
  transform: rotate(-7deg);
  background-color: #8A6353;
  left: 15%;
  top: 45%;
  padding-left: 5px;
  padding-right: 5px;
  color: #fff;
  font-size: 18px;
}

.boxbottom {
  width: 85vw;
  position: relative;
  transform: rotate(-7deg);
  background-color: #8A6353;
  left: 19%;
  top: 50%;
  padding-left: 5px;
  padding-right: 5px;
  color: #888;


}
.boxtop p {
  font-size: 20px;
  width: 85%;
  color: #fff;
}
.boxbottom p {
  font-size: 16px;
  width: 85%;
  color: #fff;
}

/* Skills Section*/
.skills {
  /*position: relative;*/
  overflow: hidden;
  width: 100%;
  /*height: auto;*/
  min-height: 568px;
  /*max-width: 1366px;*/
  /*background-color: #8A6353;*/
  background-color: #242424;
  margin: 0 auto;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

}

.skills > h1 {
  color: white;
  text-align: center;
  font-size: 48px;
}

.flex-box-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
}

.skills figure {
  text-align: center;
  max-width: 240px;
  padding-bottom: 20px;
}

.skills figure figcaption h1 {
  font-size: 40px;
  color: #8A6353;
  animation: fadein 2s;
}


.skills figure img {
  width: 80%;
}



.skills figcaption {
  color: #fff;
  text-align: center;
  padding-top: 10px;
  font-size: 22px;
  margin-left: 9%;
  margin-right: 9%;
}

/*project no media section */
.project {
  /*position: relative;*/
  /*float: left;*/
  /*margin: 0 auto;*/
}

/*.project .background{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;

  z-index: -1;
  filter: opacity(25%);
}*/

.project  h1 {
  color: white;
  margin-top: 0;
  padding-top: 0.5em;
  text-align: center;
  /*color: white;*/
  /*text-align: center;*/
  font-size: 48px;
  line-height: 1.3;
}
.project > .project-wrapper{

  min-height: 568px;
  display: flex;
  flex-direction: column;
  /*flex-wrap: wrap;*/
  justify-content: space-around;
  max-width: 1366px;
  margin: 0 auto;
  background-color: #ccc;
  background-image: url('./images/stone.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.project figure {
  top: 100px;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  text-align: center;
  padding-right: 2%;
  padding-left: 2%;
}

.project figure figcaption h1 {
  font-size: 40px;
  color: #D6A996;
  color: white;
}

.project figure img {
  width: 100%;
}


.project figcaption {
  color: #fff;
  text-align: center;
  padding-top: 10px;
  margin-left: 9%;
  margin-right: 9%;
}

/*about section */

.about {
  margin: 0 auto;
  position: relative;
  min-height: 568px;
  max-width: 1366px;
  padding-bottom: 2rem;
}

.about .about-wrapper {
  margin: 0 auto;

  width: 100%;
  height: 100%;
}

.about .about-wrapper .background{
  position: absolute;
  width: 100%;
  height: 100%;
  background: #002F48;
  background-image: url('./images/craig-blue.jpg');
  background-position: bottom left;
  filter: opacity(25%);
  background-repeat: no-repeat;
  background-size: 75%;
  z-index: -1;
}
.about h1 {
  margin-top: 0;
  padding-top: 0.5em;
  margin-bottom: 0;
  color: white;
  text-align: center;
  font-size: 48px;

}
.about p {


  font-size: 16px;
  width: 80%;
  color: #fff;
  text-align: right;
  margin-left: 9%;

}

/*contact section */
.contact {
  min-height: 568px;
  max-width: 1366px;
  margin: 0 auto;
  background: #fff;
  background-image: url('./images/pexels-photo-346593.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 70px;
  box-sizing: border-box;
}

.contact .contact-wrapper {
  display:flex;
  flex-direction:row;
  align-items:center;
  padding: 20px;

}
/*.contact .background{
  position: absolute;
  width: 100vw;
  height: 100%;
  background: #242424;
  background-image: url('./images/pexels-photo-346593.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  filter: opacity(25%);
}*/

.contact h1 {
  margin-top: 0;
  padding-top: 0.5em;
  color: #fff;
  font-size: 48px;
  text-align: center;
}
form{
  text-align: center;
}

label {
  color: #fff;
  font-weight: bold;
  display: block;
  /*text-align: center;*/
  padding: 12px;
  font-size: 16px;
}

.form-control {
  padding: 12px 20px;
  border-radius: 4px;
  width: 60%;
  max-width: 400px;
  font-size: 16px;
  box-sizing: content-box;
}

.btn-submit {
  display: block;
  margin: 0 auto;
  background-color: #4CAF50;
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  cursor: pointer;
  margin-top: 1.5em;
}

.btn-submit:hover {
  background-color: #45a049;
}

/*footer section*/
.footer {
  margin: 0 auto;
  left: 0;
  bottom: 0px;
  width: 100%;
  min-height: 60px;
  max-width: 1366px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  background: #8A6353;
  padding-top: 10px;
  padding-bottom: 10px;

}

.footer .item {
  text-align: center;
  width: 33.33%;
}

img.resize{
  width: 33.33%;
  /*height: 33.33%;*/
}


/*for screen size bigger then phone*/
@media screen and (min-width: 500px) {

  .hero h1 {
    font-size: 80px;
  }

  .boxtop {
    left: 33%;
    top: 35%;
    padding-left: 5px;
    padding-right: 5px;
  }

  .boxbottom {

    left: 35%;
    top: 40%;
    padding-left: 5px;
    padding-right: 5px;


  }

  .boxtop p {
    font-size: 30px;

  }
  .boxbottom p {
    font-size: 28px;
    width: 70%;

  }

  /*skills section*/
  .skills figcaption {
    font-size: 24px;
  }

  .skills > h1 {
    font-size: 72px;
  }

  /*project section*/

  .project h1 {
    font-size: 72px;
  }


  .project figcaption {
    font-size: 24px;
  }

  /*about section*/
  .about {
    padding-bottom: 2rem;
  }

  .about .background{
    background-size: 50%;
  }

  .about h1 {
    font-size: 72px;
  }
  .about p {
    font-size: 24px;
    width: 60%;
    margin-left: 35%;
  }

  /*contact section */

  .contact h1 {
    /*margin-top: 0;
    padding-top: 0.5em;*/
    font-size: 72px;
  }


  label {
    color: #fff;
    font-weight: bold;
    display: block;
    text-align: center;
    padding: 24px;
    font-size: 24px;
  }

  .btn-submit{
    font-size: 24px;
  }


  /*end of view media*/
}

/*for screen sizes desktop and above*/
@media screen and (min-width: 1025px) {


  .hero {
    margin: 0 auto;
    max-width: 1366px;
    min-height: 800px;
    /*background-size: 75%;*/
  }

  .hero h1 {
    text-align: left;
    left: 5%;
  }

  .boxtop {
    width: 750px;
    top: 45%;
  }

  .boxbottom {
    top: 50%;
    width: 720px
  }

  .hero p {
    width: 700px;
    padding: 10px;

  }

  .project {
    /*max-width: 1366px;*/
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
  }

  .about .about-wrapper .background{
background-position: top left;
    background-size: 50%;
  }


  /*end of @media*/
}
